*{
    margin: 0;
    border: 0;
    background: black;
}
h1{
    font-size: 110px;
    text-align: center;
    margin-top: 126px;
    color: blueviolet;
}
span{
    color: brown;
}

/* header end */
/* main section start */
section{
    background: rgba(0, 0, 0, 0.292);
    width: 35%;
    margin: 60px auto;
    padding: 38px;
    
}
h2{ 
    color: #15f4ee;
    font-size: 40px;
    margin: 15px 200px;
    text-align: center;
    padding: 25px;
}
div{
    margin-top: 90px;
    margin-left: 330px;
    align-items: center;
    transform: translate(-50% , -50%);
}

input{
    width: 100%;
    border: 2px solid goldenrod;
    border-radius: 20px;
    display: block;
    margin: 20px auto;
    background: #15f4ee;
    
}
button{
    position: relative;
    text-align: center;
    width: 200px;
    font-size: 20px;
    padding: 15px 15px;
    color: #15f4ee;
    border: 3px solid #15f4ee;
    text-transform: uppercase;
    letter-spacing: 15px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s;
    margin-top: 40px;
    margin-left: 75px;
    
}
button:hover{
    box-shadow: 0 5px 50px 0 #15f4ee inset,0 5px 50px 0 #15f4ee,
    0 5px 50px 0 #15f4ee inset ,0 5px 50px 0 #15f4ee ;
    text-shadow:0 0 5px  #15f4ee, 0 0 5px  #15f4ee;
}